@model TableGenetation

@{
    ViewData["Title"] = "Generated Time Table";
}

<h2>Timetable</h2>
<hr />
<div class="row">
    <div class="col-lg-2 col-12">
        <div><b>Total Hours:</b> @Model.TotalHours</div>
        <div><b>Subjects per day:</b> @Model.SubjectsPerDay</div>
        <div><b>Working days:</b> @Model.WorkingDays</div>
    </div>
    <div class="col-lg-10 col-12 mt-lg-0 mt-3">
        <div class="fw-bold"><u>Subject wise summary</u></div>
        <div class="d-flex gap-3">
            @foreach (var subjectHours in Model.SubjectHoursList)
            {
                <div>
                    <div><b>Subject Name:</b> @subjectHours.SubjectName</div>
                    <div><b>Subject Hours:</b> @subjectHours.Hours</div>
                </div>
            }
        </div>
    </div>
</div>
<hr />
<table class="table table-bordered">
    <tbody>
        @for (int day = 0; day < Model.TimeTable.GetLength(0); day++)
        {
            <tr>
                @for (int period = 0; period < Model.TimeTable.GetLength(1); period++)
                {
                    <td>@Model.TimeTable[day, period]</td>
                }
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("EnterSubjectHours", "Home",Model)" class="btn btn-primary">Back to Enter Subject Hours</a>
